  <link rel="stylesheet" type="text/css" href="/public/css/nav.css">
  
    <nav id="nav-bar">
        <a href ="/" id="brand-anchor">Index Page</a>
        <a href="/postimage" id="post-button" class="nav-items anchor-buttons">Post</a>
        <a href="/registration" id="register-button" class="nav-items anchor-buttons">Register</a>
        {{#if logged}}
        <a id="logout-button" class="nav-items anchor-buttons">Log Out</a>
        {{else}}
        <a href="/login" id="login-button" class="nav-items anchor-buttons">Log in</a>
        {{/if}}
    </nav>